<div>
    <h1>Final order:</h1>
    <table class="table table-hover" cellpadding="0" cellspacing="0" table-dark>
        <tr>
            <td>Title</td>
            <td>Price</td>
            <td>Quantity</td>
        </tr>
        <tbody>
        <tr ng-repeat="orderItemDto in CartList">
            <td>{{orderItemDto.productTitle}}</td>
            <td>{{orderItemDto.price}}</td>
            <td>{{orderItemDto.quantity}}</td>
        </tr>
        </tbody>
    </table>
    <input placeholder="Delivery address" ng-model="userinfo.address">
    <button class="btn btn-primary"  ng-click="confirmOrder()">Confirm</button>
</div>